body {
    .container {
        background-color: #e0e0e0;
        max-width: 412px;
        height: 732px;
    }
}

.sliding-menu-container {
    margin: 20px auto;
    height: 200px;
    max-width: 320px;
    li {
        font-weight: bold;
        font-size: 20px;
        background-color: #e76;
        border-bottom: 1px solid #888;
        &:hover {
            background-color: lighten(#e56, 15%);
        }
        transition: background-color 0.3s ease-in-out;
    }
}

.flex-h {
    display: flex;
    align-items: center;
    &.spread {
        justify-content: space-between;
    }
}
