body {
    background-color: #ddd;
    & {
        margin-top: 20px;
    }
}

.menu-container {
    background-color: #eee;
    padding: 10px;
    overflow: hidden;
    position: relative;
    height: 300px;
    > * {
        position: absolute;
        top: 5px;
        height: 100%;
        width: 100%;
        display: inline-block;
    }
    ul {
        list-style: none;
        padding-left: 0;
        li {
            background-color: #e56;
            border-bottom: 1px solid #ccc;
            padding: 3px 15px;
        }
    }
    .page {
        // display: flex;
        // flex-direction: column;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }
}

.flex-h {
    display: flex;
    align-items: center;
    &.spread {
        justify-content: space-between;
    }
}

.filler {
    background-color: #555;
}
